body {
	background-color: grey;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px !important;
    margin-bottom: 20px;
}

.well{
    border-radius: 0px;
	background-color: white;
	width: 100%;
max-width: 1000px;

margin: 0 auto;
    border-bottom: 1px solid grey;
}

.alku {
    margin-top: 50px;
	display: flex;
    justify-content: center;
        min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.inner {
    align-self: center;
}

.pyorea{
     border-radius: 50%;
    border: 1px solid grey;
}
.navigointikuva{
    max-width: 125px;
}


.main{
      display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.navigointi{
    padding-top: 50px;
    padding-bottom: 50px;
}
.minusta{
    padding-top: 50px;
    padding-bottom: 50px;
}

.osaaminen{
       padding-top: 50px;
    padding-bottom: 50px; 
}
.portfolio{
          padding-top: 50px;
    padding-bottom: 50px;  
}

table{
    background-color:whitesmoke;
    border: 1px solid grey;
}

    table.borderless td,table.borderless th{
     border: none !important;
}

.skills{
        background-color:whitesmoke;
    border: 1px solid grey;
    padding: 5px 5px 0px 5px;
    max-width: 300px;
    margin-bottom:20px;
}

.skill-good{
    background-color:green;
    font-size: 18px;
    color:white;
    border-radius: 5px;
    padding:2px;
    margin-bottom: 5px;
    display: inline-block;
} 
.skill-mid{
    background-color:yellowgreen;
    font-size: 14px;
    color:black;
    border-radius: 5px;
    padding:2px;
    margin-bottom: 5px;
    display: inline-block;
}
.skill-bad{
    background-color:red;
    font-size: 12px;
    color:white;
    border-radius: 5px;
    padding:2px;
    margin-bottom: 5px;
    display: inline-block;
}



a {
    text-decoration: none;
}
a.darken {
    display: block;
    margin: 0 auto;
    width: auto;
    display: block;
    background: black;
    padding: 0;
    position:relative;
    overflow: hidden;
    text-align: center;
    max-width:300px;
}
a.darken img {
    width: 100%;
    display: block;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
a.darken:hover img {
    opacity: 0.1;
}
a.darken span {
    display: block;
    height: 100%;
    visibility:hidden;
    position: absolute;
    width: 100%;
    top: 50%;
    font-size:26px;
}
a.darken:hover span {
    color:#fff;
    visibility:visible;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}